<%= form_with(model: inventory_group, class: "contents") do |form| %>
  <% if inventory_group.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(inventory_group.errors.count, "error") %> prohibited this inventory_group from being saved:</h2>

      <ul class="list-disc ml-6">
        <% inventory_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: label_class %>
    <%= form.text_field :name, class: input_class(inventory_group.errors[:name].any?) %>
  </div>

  <div class="inline">
    <%= form.submit class: primary_button_class("w-full sm:w-auto") %>
  </div>
<% end %>
