<%= form_with(model: inventory_group, class: "contents") do |form| %>
  <% if inventory_group.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(inventory_group.errors.count, "error") %> prohibited this inventory_group from being saved:</h2>

      <ul class="list-disc ml-6">
        <% inventory_group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: label_class %>
    <%= form.text_field :name, class: input_class(inventory_group.errors[:name].any?) %>
  </div>

  <div class="my-5">
    <%= form.label :supplier_ids, "Visible to Suppliers (leave empty for all)", class: label_class %>
    <%= form.collection_check_boxes :supplier_ids, policy_scope(Supplier), :id, :name do |b| %>
      <div class="flex items-center mt-1">
        <%= b.check_box class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
        <%= b.label class: "ml-2 block text-sm text-gray-900" %>
      </div>
    <% end %>
  </div>

  <div class="my-5">
    <%= form.label :customer_ids, "Visible to Customers (leave empty for all)", class: label_class %>
    <%= form.collection_check_boxes :customer_ids, policy_scope(Customer), :id, :name do |b| %>
      <div class="flex items-center mt-1">
        <%= b.check_box class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" %>
        <%= b.label class: "ml-2 block text-sm text-gray-900" %>
      </div>
    <% end %>
  </div>

  <div class="inline">
    <%= form.submit class: primary_button_class("w-full sm:w-auto") %>
  </div>
<% end %>
