<% content_for :title, "Inventory groups" %>

<div class="w-full">
  
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Inventory groups</h1>
    <%= link_to "New inventory group", new_inventory_group_path, class: primary_button_class %>
  </div>

  <div class="mt-8 <%= table_container_class %>">
    <table class="<%= table_class %>">
      <thead class="<%= thead_class %>">
        <tr>
          <th class="<%= th_class %>">Name</th>
        </tr>
      </thead>
      <tbody class="<%= tbody_class %>" id="inventory_groups">
        <% if @inventory_groups.any? %>
          <% @inventory_groups.each do |inventory_group| %>
            <tr class="<%= tr_class %>">
              <td class="<%= td_class %>">
                <%= link_to inventory_group.name, inventory_group, class: "text-indigo-600 hover:text-indigo-900 font-semibold" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="<%= td_class %> text-center py-10">No inventory groups found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-8 flex justify-center">
    <%== pagy_tailwind_nav(@pagy) %>
  </div>
</div>
