<%= tag.div(flash[:alert], style: "color:red") if flash[:alert] %>
<%= tag.div(flash[:notice], style: "color:green") if flash[:notice] %>

<div class="flex min-h-full flex-col justify-center mt-28 py-12 sm:px-6 lg:px-8 max-w-full min-w-3xl mx-auto">
  <div class="sm:mx-auto sm:w-full sm:max-w-md">
    <h1 class="mt-6 text-center text-2xl/9 font-bold tracking-tight text-gray-900 dark:text-white">Sign in to Vraic</h1>
  </div>

  <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-[480px]">
    <div class="bg-white px-6 py-12 border-1 border-gray-300 sm:rounded-lg sm:px-12 dark:bg-gray-800/50 dark:shadow-none dark:outline dark:-outline-offset-1 dark:outline-white/10">
      <%= form_with url: session_path, class: "space-y-4" do |form| %>
        <div>
          <%= form.label :email_address, "Email", class: label_class %>
          <div class="mt-2">
            <%= form.email_field :email_address, required: true, autofocus: true, autocomplete: "username", placeholder: "Enter your email address", value: params[:email_address], class: input_class %>
          </div>
        </div>

        <div>
          <%= form.label :password, class: label_class %>
          <div class="mt-2">
            <%= form.password_field :password, required: true, autocomplete: "current-password", placeholder: "Enter your password", maxlength: 72, class: input_class %>
          </div>
        </div>

        <div class="flex items-center justify-between">
          <div class="text-sm/6">
            <%= link_to "Forgot password?", new_password_path, class: "font-semibold text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 dark:hover:text-indigo-300" %>
          </div>
        </div>

        <div>
          <%= form.submit "Sign in", class: primary_button_class("flex w-full justify-center") %>
        </div>
      <% end %>

      <p class="mt-6 text-center text-sm/6 text-gray-500 dark:text-gray-400">
        Don't have an account? <%= link_to "Signup", new_user_path, class: "font-semibold text-indigo-600 hover:text-indigo-500 dark:text-indigo-400 dark:hover:text-indigo-300" %>
      </p>
    </div>

    <p class="mt-10 text-center text-sm/6 text-gray-500 dark:text-gray-400">
      By continuing, I agree to the service <br><a href="" class="underline">terms</a>, <a href="" class="underline">privacy policy</a> and <a href="" class="underline">cookie policy</a>
    </p>
  </div>
</div>