<tr id="<%= dom_id task %>" class="<%= tr_class %>">
  <% if Current.account.nil? && Current.user&.admin? %>
    <td class="<%= td_class %> font-semibold">
      <%= task.account.name %>
    </td>
  <% end %>
  <td class="<%= td_class %>">
    <%= link_to task.title, task, class: "text-indigo-600 hover:text-indigo-900 font-semibold dark:text-indigo-400 dark:hover:text-indigo-300" %>
    <% if task.description.present? %>
      <p class="text-xs text-gray-500 truncate max-w-xs dark:text-gray-400"><%= task.description %></p>
    <% end %>
  </td>
  <td class="<%= td_class %>">
    <%= task.responsible_user&.name %>
  </td>
  <td class="<%= td_class %>">
    <%= task.assigned_by&.name %>
  </td>
  <td class="<%= td_class %>">
    <span class="<%= 'text-red-600 font-medium' if !task.completed? && task.due_date && task.due_date < Date.today %>">
      <%= task.due_date&.to_formatted_s(:long) || "None" %>
    </span>
  </td>
  <td class="<%= td_class %>">
    <% if task.completed? %>
      <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20 dark:bg-green-500/10 dark:text-green-400 dark:ring-green-500/20">
        Done
      </span>
    <% else %>
      <span class="inline-flex items-center rounded-md bg-yellow-50 px-2 py-1 text-xs font-medium text-yellow-700 ring-1 ring-inset ring-yellow-600/20 dark:bg-yellow-500/10 dark:text-yellow-400 dark:ring-yellow-500/20">
        Pending
      </span>
    <% end %>
  </td>
  <td class="<%= td_class %>">
    <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10 dark:bg-gray-400/10 dark:text-gray-400 dark:ring-gray-400/20">
      <%= task.attachments.count %> files
    </span>
  </td>
  <td class="relative whitespace-nowrap py-4 pl-3 pr-4 text-right text-sm font-medium sm:pr-6">
    <div class="flex justify-end gap-3 items-center">
      <% unless task.completed? %>
        <%= button_to "Mark as Done", complete_task_path(task), method: :patch, class: "text-green-600 hover:text-green-900 dark:text-green-400 dark:hover:text-green-300 font-medium" %>
      <% end %>
    </div>
  </td>
</tr>
