<%= form_with(model: newsletter, class: "contents") do |form| %>
  <% if newsletter.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(newsletter.errors.count, "error") %> prohibited this newsletter from being saved:</h2>
      <ul>
        <% newsletter.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :subject, class: label_class %>
    <%= form.text_field :subject, class: input_class %>
  </div>

  <div class="my-5">
    <%= form.label :target, class: label_class %>
    <%= form.select :target, Newsletter.targets.keys.map { |t| [t.titleize, t] }, {}, class: input_class %>
  </div>

  <div class="my-5">
    <%= form.label :content, class: label_class %>
    <%= form.lexxy_rich_text_area :content, class: "mt-2 block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
  </div>

  <div class="inline">
    <%= form.submit class: primary_button_class %>
  </div>
<% end %>
