<%= form_with(model: account_user.new_record? ? [@account, account_user] : account_user, class: "contents") do |form| %>
  <% if account_user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(account_user.errors.count, "error") %> prohibited this account_user from being saved:</h2>

      <ul class="list-disc ml-6">
        <% account_user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if account_user.new_record? %>
    <div class="my-5">
      <%= label_tag :email_address, "Email address", class: label_class %>
      <%= email_field_tag :email_address, params[:email_address], class: input_class(false), required: true %>
      <p class="<%= help_text_class %>">
        If the user doesn't have an account, they will be invited.
      </p>
    </div>
  <% else %>
    <div class="my-5">
      <span class="<%= label_class %>">User</span>
      <p class="text-gray-900 dark:text-gray-100">
        <%= account_user.user.name %> (<%= account_user.user.email_address %>)
      </p>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :user_role, class: label_class %>
    <%= form.select(:user_role, enum_options_for_select(account_user, :user_role), { selected: account_user.user_role, include_blank: false }, class: input_class(account_user.errors[:user_role].any?)) %>
  </div>

  <div class="inline">
    <%= form.submit class: primary_button_class("w-full sm:w-auto") %>
  </div>
<% end %>
