<% content_for :title, "Account users" %>

<div class="w-full">
  
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Account users</h1>
    <%= link_to "New account user", new_account_account_user_path(@account), class: primary_button_class %>
  </div>

  <div class="mt-8 <%= table_container_class %>">
    <table class="<%= table_class %>">
      <thead class="<%= thead_class %>">
        <tr>
          <th class="<%= th_class %>">User</th>
          <th class="<%= th_class %>">Account</th>
          <th class="<%= th_class %>">Role</th>
        </tr>
      </thead>
      <tbody class="<%= tbody_class %>" id="account_users">
        <% if @account_users.any? %>
          <% @account_users.each do |account_user| %>
            <tr class="<%= tr_class %>">
              <td class="<%= td_class %>">
                <%= link_to account_user.user.name, account_user, class: "text-indigo-600 hover:text-indigo-900 font-semibold" %>
                <p class="text-xs text-gray-500"><%= account_user.user.email_address %></p>
              </td>
              <td class="<%= td_class %>">
                <%= account_user.account.name %>
              </td>
              <td class="<%= td_class %>">
                <%= account_user.user_role.humanize %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3" class="<%= td_class %> text-center py-10">No account users found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-8 flex justify-center">
    <%== pagy_tailwind_nav(@pagy) %>
  </div>
</div>
