<%= form_with(model: user, class: "contents") do |form| %>
  <% if params[:account_id] %>
    <%= hidden_field_tag :account_id, params[:account_id] %>
  <% end %>

  <% if user.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul class="list-disc ml-6">
        <% user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: label_class %>
    <%= form.text_field :name, class: input_class(user.errors[:name].any?) %>
  </div>

  <div class="my-5">
    <%= form.label :email_address, class: label_class %>
    <%= form.text_field :email_address, class: input_class(user.errors[:email_address].any?) %>
  </div>

  <div class="my-5">
    <%= form.label :password, class: label_class %>
    <%= form.password_field :password, class: input_class(user.errors[:password].any?) %>
  </div>

  <div class="inline">
    <%= form.submit class: primary_button_class("w-full sm:w-auto") %>
  </div>
<% end %>
