<% content_for :title, "Users" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Users</h1>
    <%= link_to "New user", new_user_path, class: primary_button_class %>
  </div>

  <div class="mt-8 <%= table_container_class %>">
    <table class="<%= table_class %>">
      <thead class="<%= thead_class %>">
        <tr>
          <th class="<%= th_class %>">Email</th>
          <th class="<%= th_class %>">Admin</th>
        </tr>
      </thead>
      <tbody class="<%= tbody_class %>" id="users">
        <% if @users.any? %>
          <% @users.each do |user| %>
            <tr class="<%= tr_class %>">
              <td class="<%= td_class %>">
                <%= link_to user.name, user, class: "text-indigo-600 hover:text-indigo-900 font-semibold" %>
                <p class="text-xs text-gray-500"><%= user.email_address %></p>
              </td>
              <td class="<%= td_class %>">
                <%= user.admin? ? "Yes" : "No" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="2" class="<%= td_class %> text-center py-10">No users found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-8 flex justify-center">
    <%== pagy_tailwind_nav(@pagy) %>
  </div>
</div>
