<% content_for :title, "Showing user" %>

<div class="md:w-2/3 w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <h1 class="font-bold text-4xl">Showing user</h1>

  <%= render @user %>

  <div class="flex flex-wrap gap-2 mt-4">
    <%= link_to "Edit this user", edit_user_path(@user), class: secondary_button_class("w-full sm:w-auto text-center") %>
    <%= link_to "Back to users", users_path, class: secondary_button_class("w-full sm:w-auto text-center") %>
    <% if Current.user.admin? && Current.user != @user %>
      <%= button_to "Destroy this user", @user, method: :delete, form_class: "w-full sm:w-auto", class: danger_button_class("w-full"), data: { turbo_confirm: "Are you sure?" } %>
      <%= button_to "Really Delete", really_destroy_user_path(@user), method: :delete, form_class: "w-full sm:w-auto", class: danger_button_class("w-full bg-red-800 hover:bg-red-700"), data: { turbo_confirm: "Are you sure? This is permanent." } %>
    <% end %>
  </div>
</div>
