<div id="<%= dom_id customer %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= customer.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email address:</strong>
    <%= customer.email_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= customer.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Account:</strong>
    <%= customer.account_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Deleted at:</strong>
    <%= customer.deleted_at %>
  </div>
</div>
