<% content_for :title, "Customers" %>

<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-md inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Customers</h1>
    <%= link_to "New customer", new_customer_path, class: primary_button_class %>
  </div>

  <div class="mt-8 <%= table_container_class %>">
    <table class="<%= table_class %>">
      <thead class="<%= thead_class %>">
        <tr>
          <th class="<%= th_class %>">Customer</th>
          <th class="<%= th_class %>">Email</th>
          <th class="<%= th_class %>">Phone</th>
        </tr>
      </thead>
      <tbody class="<%= tbody_class %>" id="customers">
        <% if @customers.any? %>
          <% @customers.each do |customer| %>
            <tr class="<%= tr_class %>">
              <td class="<%= td_class %>">
                <%= link_to customer.name, customer, class: "text-indigo-600 hover:text-indigo-900 font-semibold" %>
              </td>
              <td class="<%= td_class %>">
                <%= customer.email_address %>
              </td>
              <td class="<%= td_class %>">
                <%= customer.phone %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td colspan="3" class="<%= td_class %> text-center py-10">No customers found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-8 flex justify-center">
    <%== pagy_tailwind_nav(@pagy) %>
  </div>
</div>
