<div id="<%= dom_id order %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Account:</strong>
    <%= order.account_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Customer:</strong>
    <%= order.customer_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Total amount cents:</strong>
    <%= order.total_amount_cents %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Currency:</strong>
    <%= order.currency %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Notes:</strong>
    <%= order.notes %>
  </div>
  <div>
    <strong class="block font-medium mb-1">User:</strong>
    <%= order.user_id %>
  </div>
</div>
