<div id="<%= dom_id supplier %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Name:</strong>
    <%= supplier.name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Email address:</strong>
    <%= supplier.email_address %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Phone:</strong>
    <%= supplier.phone %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Account:</strong>
    <%= supplier.account_id %>
  </div>
</div>
