<%= form_with(model: location, class: "contents") do |form| %>
  <% if location.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(location.errors.count, "error") %> prohibited this location from being saved:</h2>

      <ul class="list-disc ml-6">
        <% location.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: label_class %>
    <%= form.text_field :name, class: input_class(location.errors[:name].any?) %>
  </div>

  <div class="my-5 flex items-center gap-2">
    <%= form.check_box :collection_point, { class: "h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-600" } %>
    <%= form.label :collection_point, "Collection Point", class: "block text-sm font-medium leading-6 text-gray-900 dark:text-gray-100" %>
  </div>

  <div class="inline">
    <%= form.submit class: primary_button_class("w-full sm:w-auto") %>
  </div>
<% end %>
