<% content_for :title, "Locations" %>

<div class="w-full">
  
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Locations</h1>
    <%= link_to "New location", new_location_path, class: primary_button_class %>
  </div>

  <div class="mt-8 <%= table_container_class %>">
    <table class="<%= table_class %>">
      <thead class="<%= thead_class %>">
        <tr>
          <th class="<%= th_class %>">Name</th>
          <th class="<%= th_class %>">Collection Point</th>
        </tr>
      </thead>
      <tbody class="<%= tbody_class %>" id="locations">
        <% if @locations.any? %>
          <% @locations.each do |location| %>
            <tr class="<%= tr_class %>">
              <td class="<%= td_class %>">
                <%= link_to location.name, location, class: "text-indigo-600 hover:text-indigo-900 font-semibold" %>
              </td>
              <td class="<%= td_class %>">
                <% if location.collection_point? %>
                  <span class="inline-flex items-center rounded-md bg-green-50 px-2 py-1 text-xs font-medium text-green-700 ring-1 ring-inset ring-green-600/20">Yes</span>
                <% else %>
                  <span class="inline-flex items-center rounded-md bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">No</span>
                <% end %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="<%= td_class %> text-center py-10">No locations found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-8 flex justify-center">
    <%== pagy_tailwind_nav(@pagy) %>
  </div>
</div>
