<%= form_with(model: account, class: "contents") do |form| %>
  <% if account.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-md mt-3">
      <h2><%= pluralize(account.errors.count, "error") %> prohibited this account from being saved:</h2>

      <ul class="list-disc ml-6">
        <% account.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name, class: label_class %>
    <%= form.text_field :name, class: input_class(account.errors[:name].any?) %>
  </div>

  <div class="my-5">
    <%= form.label :address, class: label_class %>
    <%= form.textarea :address, rows: 4, class: input_class(account.errors[:address].any?, "h-auto") %>
  </div>

  <div class="my-5">
    <%= form.label :owner_id, class: label_class %>
    <%= form.select(:owner_id, User.all.order(:name).map{|u| [u.name.to_s, u.id]}, { selected: form.object.persisted? ? @account&.owner_id : params[:owner_id], include_blank: false }, class: input_class(account.errors[:owner_id].any?)) %>
  </div>

  <div class="inline">
    <%= form.submit class: primary_button_class("w-full sm:w-auto") %>
  </div>
<% end %>
