<% content_for :title, "Accounts" %>

<div class="w-full">
  
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Accounts</h1>
    <%= link_to "New account", new_account_path, class: primary_button_class %>
  </div>

  <div class="mt-8 <%= table_container_class %>">
    <table class="<%= table_class %>">
      <thead class="<%= thead_class %>">
        <tr>
          <th class="<%= th_class %>">Name</th>
        </tr>
      </thead>
      <tbody class="<%= tbody_class %>" id="accounts">
        <% if @accounts.any? %>
          <% @accounts.each do |account| %>
            <tr class="<%= tr_class %>">
              <td class="<%= td_class %>">
                <%= link_to account.name, account, class: "text-indigo-600 hover:text-indigo-900 font-semibold" %>
              </td>
            </tr>
          <% end %>
        <% else %>
          <tr>
            <td class="<%= td_class %> text-center py-10">No accounts found.</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <div class="mt-8 flex justify-center">
    <%== pagy_tailwind_nav(@pagy) %>
  </div>
</div>
